*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Sora", serif;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1rem;
}

p {
    font-size: 1.25rem;
}

.review p {
    font-size: 1rem;
}

li {
    font-size: 0.875rem;
}

.star-emoji {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 100%;
    background-color: #F5C044;
    
}