*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Sora", serif;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1rem;
}

p {
    font-size: 1.25rem;
}

.review p {
    font-size: 1rem;
}

li {
    font-size: 0.875rem;
    display: flex; /*To align checkmark and list text*/
    align-items: center;
    justify-content: flex-start;
    margin: 1em 0;
}

li::before {
    content: "";
    background-image: url(images/Done_ring_round_fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    margin-right: 0.5em;
    flex-shrink: 0;
}

ul {
    list-style: none;
    list-style-position: inside;
}

.star-emoji {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 100%;
    background-color: #F5C044;
}